<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style2.css">
        <title>Movie/Series Recommender</title>
    </head>
    <body>
        <h1>Recommended Movies and Series</h1>
        <div container>
            {% for img_src in img1: %}
            <img src={{ img_src }}>
            {% endfor %}
        </div>
        <div container>
            {% for img_src in img2: %}
            <img src={{ img_src }}>
            {% endfor %}
        </div>
    </body>
</html>
